html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  background-color: rgba(182, 182, 182, 0.5);
  width: 100%;
  margin: 0;
  overflow-y: scroll;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
