.form {
  position: relative;
  margin-top: 120px;
  padding: 85px 0 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    background-color: rgb(39, 47, 106);
    transform: translateX(-50%);
    z-index: -1;
  }

  &-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 130px;
    display: flex;
    justify-content: space-between;
    color: #fff;
  }
}

.form-container {
  display: flex;
  justify-content: space-between;
  color: #fff;

  padding: 85px 130px 0 130px;

  &__wrapper {
    display: flex;
    align-items: baseline;
  }

  &__divider {
    background-color: #fff;
    width: 4px;
    height: 32px;
    margin-right: 15px;
  }

  &__left {
    margin-left: 5px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__title {
    width: 449px;
    height: 104px;

    font-family: "Gilroy", sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.15;

    margin-bottom: 40px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__description {
    width: 460px;
    font-family: "Gilroy", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    padding-bottom: 15px;
  }

  &__description--second {
    width: 460px;
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.45;
    margin-bottom: 25px;
  }

  &__contact {
    font-family: "Gilroy", sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 15px;
    color: #fff;
    text-decoration: none;
  }

  &__contact:last-child {
    padding-bottom: 0;
  }

  &__form-wrapper {
    margin-top: 20px;
  }

  &__field {
    width: 580px;
    height: 50px;

    display: flex;
    align-items: center;

    border-radius: 25px;
    background: rgba(255, 255, 255, 0.15);

    margin-bottom: 15px;

    &--wrapper {
      display: flex;
      align-items: start;
      height: 107px;
    }

    &::placeholder {
      opacity: 0.8;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    font-family: "Gilroy", sans-serif;
    font-size: 14px;
    font-weight: 400;

    padding: 17px 17px 17px 17px;
  }

  &__upload-wrapper {
    display: flex;
    gap: 10px;
  }

  &__button--file {
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding-bottom: 15px;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      bottom: 14px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      transition: opacity 0.3s ease;
    }

    &:hover::after {
      opacity: 0;
    }
  }

  &__icon--clip {
    display: inline-block;
    background-image: url("../../../img/section-form/clip.svg");
    background-repeat: no-repeat;
    margin-top: 4px;

    width: 16px;
    height: 16px;
  }

  &__file--upload {
    display: inline-block;
    background-image: url("../../../img/section-form/fileSuccess.svg");
    background-repeat: no-repeat;

    width: 28px;
    height: 28px;
  }

  &__file--delete {
    display: inline-block;
    background-image: url("../../../img/section-form/deleteFile.svg");
    background-repeat: no-repeat;
    margin-top: 8px;
    cursor: pointer;

    width: 25px;
    height: 25px;

    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  &__file-info {
    font-family: "Gilroy", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 30px;

    opacity: 0.75;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 35px;
    cursor: pointer;

    &__input {
      display: none;
    }

    &__label {
      width: 20px;
      height: 20px;
      border: 1px solid #fff;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease;

      &::after {
        content: "";
        font-size: 14px;
        color: #fff;
      }

      &.checked::after {
        content: "✔";
      }
    }
  }

  &__agreement-text {
    font-family: "Gilroy", sans-serif;
    font-size: 12px;
    font-weight: 400;

    &--link {
      text-decoration: underline;
      color: #fff;
    }
  }

  &__submit-button {
    width: 280px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 45px;
    background-color: #fff;
    color: rgb(39, 47, 106);
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 105px;

    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: rgb(39, 47, 106);
      color: #fff;
    }
  }
}

/* Модальное окно */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  animation: fadeIn 0.3s;
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  margin: 15% auto;
  padding: 80px 60px;
  border-radius: 25px;
  width: 980px;
  height: auto;
  color: #fff;
  position: relative;
  animation: slideIn 0.3s;
}

.modal__content--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modal__close--icon {
  background-image: url("../../../img/favicons/closePopup.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 21px;
  height: 21px;
  cursor: pointer;

  transition: transform 0.3s ease;

  &:hover {
    transform: scale(0.9);
  }
}

.modal__title {
  color: rgb(64, 186, 113);
  font-family: "Gilroy", sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  width: 100%;
}

.modal__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}

.modal__text {
  color: #333;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.45;
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
